# ======================
# General
# ======================
.DS_Store
Thumbs.db
.env
.env.*
*.log

# ======================
# Python / Flask
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
instance/
venv/
.venv/
env/

# ======================
# Flask / herramientas
# ======================
migrations/
.pytest_cache/
.coverage
htmlcov/

# ======================
# Node / React / Vite
# ======================
node_modules/
dist/
build/
.vite/

# ======================
# Editor / IDE
# ======================
.vscode/
.idea/
*.swp

# ======================
# MySQL / DB
# ======================
*.sql.dump
*.db

# ======================
# OS
# ======================
*.tmp


backend/media/heatmap/*.png
backend/media/uploads/x-ray/*.png
